body {
    color: #222;
    font-family: "Armata", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4;
}
.header-annet {
    color: black;
    font-size: 50px;
}
*, ::before, ::after {
    box-sizing: border-box;
}
#header .main-bar {
    background-color: white;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
#header .main-bar .row.top {
    height: 110px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
}
* {
    box-sizing: border-box;
}
.breadcrumb{
    height: 50px;
    background-color: yellow;
}
.navbar-nav > li a{
    font-size: 20px;
    color: black;
}

.carousel-cont{
    margin-bottom: 50px;
}
.panel-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*.panel-body img{
    width: 250px;
    height: 300px;
}*/
.productCard:hover{
    border: black 1px solid;
    box-sizing: border-box;
}
.productCard{
    border: white 1px solid;
    margin-top: 50px;
    margin-bottom: 50px;
}
.panel-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-top: none;
}
.panel-footer button{

}
.panel-footer p{
    color: red;
    font-size: 14px;
}
.footer{
    border-top: 1px black solid;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer .col-sm-4{
    text-align: center;
}
.footer h4{
    margin: 0;
}
.card{
    border: black solid 1px;
    margin-bottom: 32px;
}
td > img{
    max-width: 50px;
    max-height: 50px;
}
#thankYou{
    margin-bottom: 25px;
}

